body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


                                                  /* HEDER */

.header-logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo:hover,
.header-logo:focus {
    color: #404BBF;
}

.header-logo-studio {
    color: #2e2f42;
}

.header-menu-list {
color: #4D5AE5;
}

.header-menu-item {

}

.header-menu-link {
color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.header-address {
font-style: normal;
}

.header-address-list {

}

.header-address-item {
}

.header-address-link {
 color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}
                                              /* SECTION 1 */

.intro {
        background-color: #2E2F42;
}

.intro-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.intro-button {
    color:#FFF;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5
}

.intro-button:hover,
.intro-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}


                                              /* SECTION 2 */

.feature {}

.visually-hidden {
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {}

.feature-item {}

.feature-item-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.feature-item-text {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

                                             /* SECTION 3 */
.team {
    background-color: #F4F4FD
}

.team-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF;
}

.team-item {
    background-color: #FFFFFF;
}

.team-image {
 
}

.team-subtitle {
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-text {
    color: #434455;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

                                               /* SECTION 4 */

.container {}

.container-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.container-list {}

.container-item {
}

.container-image {
    width: 360px;
        height: 300px;
        flex-shrink: 0;
}

.container-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.container-text {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

                                                 /* FOOTER */

.footer {
background-color: #2E2F42;
}

.footer-logo {
color: #4d5ae5;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo:hover,
.footer-logo:focus {
    color: #404BBF;
}

.footer-logo-studio {
color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}